<h1>Tell us what you're selling</h1>
<%= link_to 'Books', new_books_products_path %> </br>
<%= link_to 'Cloth', new_cloth_products_path %> </br>
<%= link_to 'Snacks', new_snacks_products_path %> </br>
