<h1> This is CheckOut </h1>

Card number: <input type="text" name="lname"><br>
Expired Date: <input type="text" name="lname"><br>
CSV: <input type="text" name="lname"><br>
First name: <input type="text" name="lname"><br>
Last name: <input type="text" name="lname"><br>

<%= button_to "Pay", { action: "pay"}, method: :get, data: { confirm: "Are you sure?" } %>