<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Ebuy is a C2C on-line shopping centre project, implementing in <a href="http://rubyonrails.org/">Ruby on Rails</a>. Please refer to <a href="https://bitbucket.org/XingyuJi/ebuy-shopping-centre"> XingyuJ Bitbucket Repository </a> for more details.
</p>