<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
    Ebuy is a C2C on-line shopping centre project, implementing in <a href="http://rubyonrails.org/">Ruby on Rails</a>. Please refer to <a href="https://bitbucket.org/XingyuJi/ebuy-shopping-centre"> XingyuJ Bitbucket Repository </a> for more details.
</br> Or send email to endorathas@gmail.com
</p>