<h1>Welcome to ebuy Shopping Center</h1>
<div>
<%= link_to "Sign in now!", new_user_session_path, class: "btn btn-default"%> </br></br></br>
</div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("book.png", size: "150x150"), category_products_path(type: "book")) %></div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("cloth.png", size: "150x150"), category_products_path(type: "cloth")) %></div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("snack.jpg", size: "150x150"), category_products_path(type: "snack")) %></div>
</br></br>