<h1>Welcome to ebuy Shopping Center</h1>
<div>
</div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("book.png", size: "150x150"), category_products_products_path(type: "Book")) %></div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("cloth.png", size: "150x150"), category_products_products_path(type: "Cloth")) %></div>
<div align="center" style="width:300px; float:left"><%=link_to(image_tag("snack.jpg", size: "150x150"), category_products_products_path(type: "Snack")) %></div>
</br></br>