<h1>Welcome to ebuy Shopping Center</h1>
<div class = "catelogue" style=" margin:0 auto;  text-align:center;">
<div  class="left"><%=link_to(image_tag("book.png", size: "150x150"), category_products_products_path(type: "Book")) %></div>
<div  class="left"><%=link_to(image_tag("cloth.png", size: "150x150"), category_products_products_path(type: "Cloth")) %></div>
<div  class="left"><%=link_to(image_tag("snack.jpg", size: "150x150"), category_products_products_path(type: "Snack")) %></div>
</div >
</br></br>